.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#nextBtn {
  margin-left: 2%;
  margin-top: 2%;
}

#prevBtn {
  margin-right: 2%;
  margin-top: 2%;
}

#formSlider {
  width: 15%;
}

#emoji {
  margin-left: 3%;
  margin-right: 3%;
}

#adminRouteBtn {
  color:#033076;
  background-color: rgb(196, 196, 196);
  border:1px solid white;
  margin-left: 3%;
  margin-right: 3%;
}

a:link {
  text-decoration: none;
}
